/include/ "system-conf.dtsi"
/ {

	gpio-leds {
		    compatible = "gpio-leds";
		    led-ds23 {
			label = "led-ds23";
			gpios = <&led_gpio 0 0>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		    };
	};
};

